<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>Bookers</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li>
                <a class="nav-link text-light" href="/users/39250">
                  <i class="fas fa-home"></i> Home
                </a>
              </li>

              <li>
                <a class="nav-link text-light" href="/users">
                  <i class="fas fa-users"></i>  Users
                </a>
              </li>

              <li>
                <a class="nav-link text-light" href="/books">
                  <i class="fas fa-book-open"></i>  Books
                </a>
              </li>

              <li>
                <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out">
                  <i class="fas fa-sign-out-alt"></i>  Log out
                </a>
              </li>
            </ul>
          </div>

        </div>
      </nav>
    </header>

      <main>
        <p id="notice"></p>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
              <h2>User info</h2>
              <form enctype="multipart/form-data" action="/users/39250" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off"><input type="hidden" name="authenticity_token" value="Qt-u66kXbdzK5pLOuatA4-AtIt5_IgLaRqxtAiACOSfTF-Nqg4sRf1hMYLIPFJEIpqCg4G-a_YiEpRhdRkyDvA" autocomplete="off">

                <div class="form-group">
                  <label for="user_name">Name</label>
                  <input class="form-control name" type="text" value="tttttt" name="user[name]" id="user_name">
                </div>

                <div class="form-group">
                  <label for="user_image">Image</label>
                  <input class="form-control-file user_image" accept="image/*" type="file" name="user[profile_image]" id="user_profile_image">
                </div>

                <div class="form-group">
                  <label for="user_introduction">Introduction</label>
                  <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>
                </div>

                <div class="form-group">
                  <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>

    <footer>
      <div class="container mt-5">
      	<div class="row">
        	<div class="mx-auto">
        		<p>CopyRight Infratop.inc</p>
        	</div>
        </div>
      </div>
    </footer>



</body>